/* POP UP */

.darker-background-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: none;
    z-index: 998;
}
.footer {
    border-top: .5px solid #cccccc;
}
.footer-button {
    cursor: pointer;
}
.footer-button:active {
    background: #cccccc;
    transition: ease .15s;
    overflow: hidden;
}
.popup-body {
    min-width: 20rem;
    max-width: 25rem;
    background: rgba( 255, 255, 255, 0.75 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    box-shadow: inset 0 2px 8px 0 rgba(255, 255, 255, 1); /* Внутреннее свечение */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
    z-index: 1001;
}